html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding-inline-start: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

input {
  display: block;
  padding: 10px;
  border-radius: 3px;
  margin-right: 10px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
}
.photo-card {
  width: 350px;
  height: 300px;
  margin: 0 auto;
  border: 1px solid #ccc;
  float: left;
  margin-bottom: 15px;
}

.image {
  max-width: 100%;
  max-height: auto;
  display: block;
  margin: 0 auto;
}

.stats {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}
.btn-wrapper {
  text-align: center;
}

.btn {
  padding-bottom: 30px;
  padding-top: 30px;
  background: #042a63;
  border-radius: 3px;
  color: white;
  padding: 10px 30px;
  transition: all 0.25s ease-out;
  -webkit-font-smoothing: antialiased;
}
.is-active {
  display: inline-block;
}

.btn:hover {
  background-color: #021737;
}

.is-inactive {
  display: none;
}

.search-form {
  display: flex;
  justify-content: center;
}
